
.brand-name{
    color:#F08804 !important;
    font-weight: bold !important;

}



.hover-border:hover{
    color:#007BFF !important;
}


.box-text{
    color:white;
}



.black{
    color: white;
}

@media (max-width:575px){
    .black{
        text-align: center;
    }
    .cart{
        justify-content: center;
    }
}